/vendor/
/html/
# Ignore configuration files that may contain sensitive information.
/html/sites/*/settings*.php
/html/sites/*/services*.yml
# Ignore paths that contain user-generated content.
/html/sites/*/files
/html/sites/*/private
# Ignore SimpleTest multi-site environment.
/html/sites/simpletest
/.idea
